*{
    margin: 0;
    padding: 0;
}


body{
    font-family: 'Inter';
    color: #001a43;
    background-color: #ffffff !important;
}

.main{
    padding: 0 !important;
    margin: 0 !important;
    height: 100vh !important;
    width: 100vw !important;
    
}

.box1{
    margin: 0 !important;
    padding: 0 !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-image: url(/bg-img.jpg);
    background: linear-gradient(135deg, rgba(185, 40, 175, 0.507),rgba(43, 57, 205, 0.472)),url(/bg-img.jpg) no-repeat center top !important;
    text-shadow: 0px 0px 10px rgb(0, 0, 0) !important;
}

.box2{
    width: 55%; 
    margin: 0 !important;
    padding: 0 !important;
    background-color: #ffffff !important;           
}

.btn-flag{
    background-color: #edf2fe !important;
    box-shadow: none !important;
}

.position-absolute{
    right: 40px !important;
    top: 30px !important;
}

.logo-img{
    display: none;
}

.input-adj{
    width: 80% !important;
    height: 50px !important;
    border: 2px solid rgba(128, 128, 128, 0.709);
}

.input-adj:hover{
    border-color: rgba(0, 0, 255, 0.462);
}

.input-adj:focus-within{
    border-color: blue;
}

.font{
    font-weight: 600;
    font-size: 25px;
    color: #ffffff;
}

input{
    width: 80%;
    height: 90%;
    outline: none !important;
}

.btn-in{
    width: 80% !important;
    outline: none !important;
    box-shadow: none !important;
}

.input-main{
    width: 70% !important;
}

.inp-val:valid + .fa-circle-check{
    color: green !important;
}

@media (max-width:860px){
    .box1{
        display: none;
    }

    .input-adj{
        width: 80% !important;
    }

    .box2{
        width: 100% !important;
    }

    .input-main{
        width: 70% !important;
    }

    .btn-in{
        width: 80% !important;
        margin-bottom: 20px;
    }

    .logo-img{
        display: block;
        width: 190px;
    }
}

@media (max-width:425px){
   .input-main{
    width: 90% !important;
   }
}


/*  */
.message-container {
    position: fixed; /* Or absolute, depending on your layout */
    top: 20px; /* Adjust as needed */
    right: 20px; /* Positions on the right */
    z-index: 1000; /* Ensures it's on top of other content */
}

.message {
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.failure {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.icon {
    margin-right: 10px;
    font-size: 1.2em;
}

.hidden {
    display: none;
}